.App {
  text-align: center;
}

.errorStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(34, 38, 255);
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0);
  font-size: 32px;
  color: #444;
  text-align: center;
}

.clock::after {
  background: rgb(34, 38, 255);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_arrow {
  position: absolute;
  width: 6px;
  height: 60px;
  background: rgb(0, 0, 0);
  top: 35%;
  left: 49%;
  transform-origin: bottom;
}

.min_arrow {
  position: absolute;
  width: 4px;
  height: 80px;
  background: rgba(0, 0, 0, 0.514);
  top: 29.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_arrow {
  position: absolute;
  width: 2px;
  height: 118px;
  background: rgb(34, 38, 255);
  top: 20%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 20px;
  top: 46%;
}

.four {
  right: 40px;
  top: 67%;
}

.five {
  right: 100px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 48%;
}

.seven {
  left: 100px;
  top: 82%;
}

.eight {
  left: 40px;
  top: 67%;
}

.nine {
  left: 20px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}

